
# Python cache
__pycache__/
*.pyc

# Virtual environments
myenv/
venv/
env/

# Logs
logs/
tb_log/

# Model outputs
save_models/

# OS / editor
.DS_Store
.vscode/

# Jupyter
.ipynb_checkpoints/

adaptec2
adaptec3
adaptec4
bigblue1
bigblue2
bigblue3
bigblue4

*.zip

./maskplace/adaptec2*
./maskplace/adaptec3*
./maskplace/adaptec4*
./maskplace/bigblue1*
./maskplace/bigblue2*
./maskplace/bigblue3*
./maskplace/bigblue4*

./maskplace_ok.zip
maskplace.zip
Macro_Placement_ML_for_EDA/maskplace_ok.zip